.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

body {
    background-image: url('../images/pizzabg.png');
    font-family: "Roboto", sans-serif;
    margin: 0;
    background-attachment: fixed;
    
}

nav {
    display: flex;
    justify-content: center;
    gap: 10px;
    background-color: black;
    margin: 0;
    padding: 10px;
    position: relative;
}

button {
    background-image: url('../images/ketchup.png');
    color: black;
    height: 40px;
    font-size: 20px;
}

.cover {
    position: relative;
    margin: 0;
}

.ketchup {
    position: absolute;
    top: 40px;
    left: 0px;
    width: 69px;
}

.hidden {
    background-image: none;
    margin: 0;
    background-color: rgb(255, 255, 255);
}

#content {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 50px;
    padding: 40px;
    gap: 50px;
    background-color: black;
    color: white;
    max-width: 800px;
    border-radius: 10px;
    font-size: 25px;
}

#content:first-child {
    font-size: 50px;
    font-weight: 600;
}

.homeContainer {
    position: relative;
    margin: 0;
    min-width: max-content;
}

.piroata {
    max-width: 30px;
    position: absolute;
    top: 22px;
    left: 310px;
}

.piroata:last-of-type {
    max-width: 30px;
    position: absolute;
    top: 22px;
    left: 64px;
}

.title {
    border: 1px solid white;
    font-size: 90px;
    font-weight: 600;
    padding: 10px;
    border-radius: 40px;
}

.text {
    border: 1px solid white;
    padding: 40px;
    border-radius: 40px;
}

.text2 {
    border: 1px solid white;
    padding: 40px;
    border-radius: 40px;
    text-overflow: auto;
}

.contact {
    border: 2px solid white;
    padding: 40px;
    border-radius: 40px;
}

.displayContainer {
    display: flex;
    gap: 2px;
}

.displayContainer button {
    color: whitesmoke;
    text-shadow: -2px -2px 0 #000, 2px -1px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
    font-weight: 800;
    font-size: 30px;
    width: 208px;
    height: 300px;
}

.displayContainer button:first-child {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background-image: url('../images/pizza.png');
    background-size: cover;
}

.displayContainer button:nth-child(2) {
    background-image: url('../images/menu.png');
    background-size: cover;
}

.displayContainer button:last-child {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-image: url('../images/about.png');
    background-size: cover;
}

.pizzaCards {
    display: grid;
    grid-template-columns: repeat(3, 250px);
    grid-auto-rows: max-content;
    gap: 10px;
}

.card {
    display: grid;
    justify-items: center;
    background: linear-gradient(#000000, #3b3b3b);
    padding: 10px;
    overflow: clip;
    grid-template-rows: max-content 70px max-content;
    border-radius: 5px;
}

.card p {
    justify-self: flex-start;
}

.card p:nth-child(2) {
   font-size: 20px;
   font-weight: 600;
}

.card p:last-child {
    font-size: 15px;
}

.pizzaIcon {
    width: 200px;
}

.pizzaForm {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    grid-auto-rows: 50px;
    gap: 10px;
}

.toppingSelector {
    text-align: center;
    padding: 10px;
    border: 1px solid rgb(136, 136, 136);
    background-color: #000;
}

.toppingSelector:hover {
    background-color: rgb(136, 136, 136);
}

.checked {
    background-color: rgb(136, 136, 136);
}

.toppingImg {
    position: absolute;
    top: 0;
}

.makeYourPizzaImgContainer {
    position: relative;
}